USQLCSharpProject1/_Library_GUI_/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50470/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50470/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50470/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:50470/Service.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Insert_Book_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_Book" />
  </wsdl:message>
  <wsdl:message name="IService_Insert_Book_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_BookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Insert_Author_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_Author" />
  </wsdl:message>
  <wsdl:message name="IService_Insert_Author_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_AuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Insert_Genre_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_Genre" />
  </wsdl:message>
  <wsdl:message name="IService_Insert_Genre_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_GenreResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Update_Book_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Book" />
  </wsdl:message>
  <wsdl:message name="IService_Update_Book_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_BookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Update_Author_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Author" />
  </wsdl:message>
  <wsdl:message name="IService_Update_Author_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_AuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Update_Genre_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Genre" />
  </wsdl:message>
  <wsdl:message name="IService_Update_Genre_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_GenreResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Read_Book_InputMessage">
    <wsdl:part name="parameters" element="tns:Read_Book" />
  </wsdl:message>
  <wsdl:message name="IService_Read_Book_OutputMessage">
    <wsdl:part name="parameters" element="tns:Read_BookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Read_Author_InputMessage">
    <wsdl:part name="parameters" element="tns:Read_Author" />
  </wsdl:message>
  <wsdl:message name="IService_Read_Author_OutputMessage">
    <wsdl:part name="parameters" element="tns:Read_AuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Read_Genre_InputMessage">
    <wsdl:part name="parameters" element="tns:Read_Genre" />
  </wsdl:message>
  <wsdl:message name="IService_Read_Genre_OutputMessage">
    <wsdl:part name="parameters" element="tns:Read_GenreResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Insert_Book">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Insert_Book" message="tns:IService_Insert_Book_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Insert_BookResponse" message="tns:IService_Insert_Book_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_Author">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Insert_Author" message="tns:IService_Insert_Author_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Insert_AuthorResponse" message="tns:IService_Insert_Author_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_Genre">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Insert_Genre" message="tns:IService_Insert_Genre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Insert_GenreResponse" message="tns:IService_Insert_Genre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Book">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Update_Book" message="tns:IService_Update_Book_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Update_BookResponse" message="tns:IService_Update_Book_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Author">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Update_Author" message="tns:IService_Update_Author_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Update_AuthorResponse" message="tns:IService_Update_Author_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Genre">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Update_Genre" message="tns:IService_Update_Genre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Update_GenreResponse" message="tns:IService_Update_Genre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read_Book">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Read_Book" message="tns:IService_Read_Book_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Read_BookResponse" message="tns:IService_Read_Book_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read_Author">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Read_Author" message="tns:IService_Read_Author_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Read_AuthorResponse" message="tns:IService_Read_Author_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read_Genre">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Read_Genre" message="tns:IService_Read_Genre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Read_GenreResponse" message="tns:IService_Read_Genre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert_Book">
      <soap:operation soapAction="http://tempuri.org/IService/Insert_Book" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_Author">
      <soap:operation soapAction="http://tempuri.org/IService/Insert_Author" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_Genre">
      <soap:operation soapAction="http://tempuri.org/IService/Insert_Genre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Book">
      <soap:operation soapAction="http://tempuri.org/IService/Update_Book" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Author">
      <soap:operation soapAction="http://tempuri.org/IService/Update_Author" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Genre">
      <soap:operation soapAction="http://tempuri.org/IService/Update_Genre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Book">
      <soap:operation soapAction="http://tempuri.org/IService/Read_Book" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Author">
      <soap:operation soapAction="http://tempuri.org/IService/Read_Author" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Genre">
      <soap:operation soapAction="http://tempuri.org/IService/Read_Genre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:50470/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>