USQLCSharpProject1/_Library_GUI_/Connected Services/ServiceReference1/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50470/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Insert_Book">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="book" nillable="true" type="q1:BookService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_BookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_BookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Author">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="author" nillable="true" type="q2:AuthorService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_AuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_AuthorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Genre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="genre" nillable="true" type="q3:GenreService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_GenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_GenreResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Book">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="book" nillable="true" type="q4:BookService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_BookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_BookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Author">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="author" nillable="true" type="q5:AuthorService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_AuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_AuthorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Genre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="genre" nillable="true" type="q6:GenreService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_GenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_GenreResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Read_Book">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Read_BookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Read_BookResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Read_Author">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Read_AuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Read_AuthorResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Read_Genre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Read_GenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Read_GenreResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>